@use "@/styles" as *;

h2 {
    font-size: $text-xxl;
    font-weight: $text-bold;
}

.libraries-container {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: $margin-md;

    .libraries {
        display: flex;
        flex-direction: column;
        gap: $margin-sm;

        &>button {
            align-self: end;
        }
    }

    .library-content {
        padding: $padding-md;
        background-color: $dark-1;
        border: 1px solid $dark-2;
        border-radius: $radius-lg;
    }
}

// .library-details-container {
//     padding: 20px;
//     max-width: 600px;
//     margin: auto;

//     .title {
//         font-size: 24px;
//         margin-bottom: 10px;
//     }

//     .section {
//         margin-bottom: 10px;
//     }

//     .product-list {
//         list-style-type: none;
//         padding: 0;
//     }

//     .product-list li {
//         padding: 10px;
//         border: 1px solid #ccc;
//         border-radius: 4px;
//         margin-bottom: 10px;
//     }
// }
