@use "@/styles" as *;

article {
  display: flex;
  flex-direction: column;
  gap: calc(2 * $margin-lg);
  overflow-y: auto;

  .product-hero {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("/test/product_cover.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .product-header {
      position: absolute;
      bottom: 0;
      width: calc(100% - (2 * $margin-xl));
      margin: $margin-xl;
      padding: $padding-xl;

      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 50% 50%;
      grid-auto-flow: column;
      gap: $margin-sm;

      .title {
        font-size: $text-xxl;
        font-weight: $text-bold;
        place-self: end start;
      }

      .developer {
        font-size: $text-sm;
        place-self: start;
      }

      .buy-button {
        place-self: end;
      }

      .price {
        font-size: $text-sm;
        place-self: start end;
      }
    }
  }

  section.description {
    background-color: $dark-2;
    border: 1px solid $dark-3;
    border-radius: $radius-lg;
    padding: $padding-xl;
    margin: 0 $margin-xl;
    text-align: justify;

    h2 {
      font-size: $text-xl;
      font-weight: $text-medium;
      margin-bottom: $margin-sm;
    }

    span {
      font-size: $text-sm;
    }

    img {
      float: left;
      margin-right: $margin-lg;
      border-radius: $radius-sm;
      width: 15%;
    }
  }

  .screenshots {
    margin: 0 $margin-xl;

    h2 {
      font-size: $text-xxl;
      font-weight: $text-bold;
    }

    .screenshot {
      height: 10vw;
      border-radius: $radius-sm;
      margin-top: $margin-md;
    }
  }

  section.reviews {
    display: grid;
    grid-template-columns: 38.22% calc(61.77% - $margin-md);
    grid-template-rows: auto auto;
    grid-template-areas: "header header" "summary reviews";
    gap: $margin-md;

    margin: 0 $margin-xl;

    h2 {
      font-size: $text-xxl;
      font-weight: $text-bold;
      grid-area: header;
    }

    .reviews-summary {
      grid-area: summary;
      background-color: $dark-2;
      border: 1px solid $dark-3;
      border-radius: $radius-lg;
      padding: $padding-xl;
      align-self: start;

      .overall {
        span:first-child {
          font-size: 3rem;
          font-weight: $text-bold;
        }
        span:last-child {
          margin-left: $margin-md;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: $margin-sm;
        margin: $margin-xl 0;
      }
    }

    .reviews-comments {
      grid-area: reviews;
      display: flex;
      flex-direction: column;
      gap: $margin-md;

      button {
        align-self: end;
      }
    }
  }

  section.details {
    margin: 0 $margin-xl;

    h2 {
      font-size: $text-xxl;
      font-weight: $text-bold;
      grid-area: header;
    }
  }

  #add-review-dialog {
    & > form {
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: $margin-xl;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: $text-xl;
        font-weight: $text-bold;

        button {
          padding: $padding-sm;
        }
      }

      .rating-box {
        display: flex;
        flex-direction: column;
        gap: $margin-sm;

        span {
          font-weight: $text-medium;
          font-size: $text-sm;
        }

        .rating {
          font-size: 2em;
        }
      }

      .details-box {
        display: flex;
        flex-direction: column;
        gap: $margin-sm;

        span {
          font-weight: $text-medium;
          font-size: $text-sm;
        }

        textarea {
          width: 100% !important;
          height: 100px;
          resize: none;
        }
      }

      .submit-area {
        display: flex;
        flex-direction: row-reverse;
        gap: $margin-md;
      }
    }
  }

  #all-reviews-dialog {
    & > form {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: $margin-xl;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: $text-xl;
        font-weight: $text-bold;

        button {
          padding: $padding-sm;
        }
      }
    }
  }

  .vertical-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .content-item {
    font-size: $text-xl;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
  }

  .content-item:last-child {
    border-bottom: none;
  }
}
