@use "../default/" as *;

.discover-slider {
  width: 100%;
  height: 100%;

  background-position: top;
  background-size: cover;

  .content-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.6) 30%,
      rgba(0, 0, 0, 0) 100%
    );

    .slide-content {
      height: 100%;
      margin-left: 12%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: $padding-sm;
      font-size: 1vw;

      .head {
        font-size: 2em;
        font-weight: $text-bold;
      }

      .desc {
        font-size: $text-sm;
      }

      .link {
        margin-top: $margin-md;
        padding: $padding-sm $padding-xl;
        max-width: fit-content;

        color: $text;
        text-decoration: none;
        background: $accent;
        border-radius: $radius-sm;
        transition: 0.1s background ease;

        font-size: $text-sm;

        &:hover {
          cursor: pointer;
          background: $accent-alt;
        }
      }
    }
  }
}
