@use "../default/" as *;

.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
  padding: $padding-md $padding-lg;

  transition: 0.1s all ease;
  border-radius: $radius-sm;
  text-decoration: none;
  font-size: $text-base;
  position: relative;

  &:link,
  &:visited {
    color: $text;
  }

  i {
    font-size: $text-xl;
  }

  &.horizontal {
    font-size: $text-sm;
    font-weight: $text-medium;

    .marker {
      height: 3px;
      width: calc(100% - ($padding-lg * 2));
      transform: scaleX(0);
      position: absolute;
      bottom: calc($padding-md / 2);
      left: $padding-lg;

      transition: 0.1s transform ease;
      border-radius: $radius-round;
      background: $accent-alt;
    }

    &:hover {
      color: darken($color: $text, $amount: 10%);
    }

    &.active .marker {
      transform: scaleX(1);
    }
  }

  &:not(.horizontal) {
    .marker {
      visibility: hidden;
    }

    &:hover {
      background-color: $dark-3;
    }

    &:active {
      background-color: lighten($color: $dark-3, $amount: 2);
    }

    &.active {
      background: $accent;
      background: linear-gradient(90deg, $accent, $accent-alt);
    }
  }
}
