@use "../default/" as *;

.slider-controls {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;

  .control-button {
    align-self: center;
    padding: $padding-md;
    margin: 0 $padding-lg;

    background: transparent;
    border-radius: $radius-round;
    font-size: $text-xxl;
    transition: 0.1s background ease;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .pagination-container {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: $padding-lg;
    padding-bottom: $padding-lg;

    .pagination-dot {
      width: $padding-sm;
      height: $padding-sm;
      padding: 0;

      background: rgba(255, 255, 255, 0.5);
      border-radius: $radius-round;

      &.active {
        background: $accent;
      }
    }
  }
}
