@use "@/styles" as *;

.combo-box {
  display: grid;

  & > button {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0;

    & > i {
      font-size: $text-xs;
      color: $text-alt;
      margin: $margin-md;
    }
  }

  .popup-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > button {
      padding: 0;
      display: grid;
      justify-content: stretch;
    }
  }
}
