@use "@/styles" as *;

.update-summary {
  padding: $padding-lg;
  margin: $padding-lg 0;

  display: grid;
  grid-template-areas:
    "icon header"
    "icon progress";
  grid-template-columns: auto 1fr;
  gap: $padding-sm $padding-md;

  background-color: $dark-1;
  border: 1px solid $dark-3;
  border-radius: $radius-sm;

  i {
    font-size: $text-xl;
    grid-area: icon;
  }

  span {
    font-size: $text-sm;
    grid-area: header;
    justify-self: start;
  }

  .progress-bar {
    grid-area: progress;
    justify-self: stretch;
    height: 5px;

    background-color: $dark-3;
    border-radius: $radius-round;
    overflow: hidden;

    .progress {
      height: 100%;
      background-color: $accent-alt;
      transition: 0.2s ease width;
    }
  }
}
