@use "../variables" as *;

.dialog,
dialog {
  color: $text;
  outline: none;
  border: none;

  background-color: $dark-3;
  border-radius: $radius-lg;
}

::backdrop {
  backdrop-filter: brightness(75%);
}
