@use "@/styles" as *;

.owned-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $padding-xl;
  overflow-y: auto;

  h1 {
    font-size: $text-xxl;
    font-weight: $text-bold;
  }

  .apps-list {
    display: flex;
    flex-direction: column;
    gap: $margin-sm;
    margin-top: $margin-xl;
  }
}
