@use "./default/" as *;

body {
  background-color: $dark-3;
}

.app {
  font-family: $font;
  font-size: $text-base;

  color: $text;
  background-color: $dark-2;
  border: 1px solid $dark-3;
  border-top: 0;

  width: 100vw;
  height: calc(100vh - 1px);
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr;
}
