@use "@/styles" as *;

.library-entry {
  display: grid;
  grid-template-columns: 48px 1fr 1fr auto;
  align-items: center;
  gap: $margin-md;

  padding: $padding-md;

  background-color: $dark-1;
  border: 1px solid $dark-2;
  border-radius: $radius-lg;

  img {
    width: 48px;
    height: 48px;
    border-radius: $radius-sm;
  }

  .title {
    font-weight: $text-medium;
  }

  .secondary {
    color: $text-inactive;
  }

  .actions {
    display: flex;
    gap: $margin-sm;

    .dropdown-button {
      padding: $padding-md;
    }
  }
}
.message-box {
  display: grid;
  grid-template-areas:
    "icon text"
    "actions actions";
  gap: $margin-md;
  align-items: center;

  & > i {
    font-size: 3em;
    grid-area: icon;
  }

  & > span {
    grid-area: text;
  }

  & > .actions {
    grid-area: actions;
    display: flex;
    gap: $margin-md;

    & > * {
      flex: 1;
    }
  }
}
