@use "@/styles" as *;

.libraries-page {
  display: grid;
  grid-template-columns: 1fr 1fr; // Two columns
  gap: $margin-lg;
  padding: $padding-xl;
}

.libraries-sections {
  display: flex;
  flex-direction: column;
  gap: $margin-md;
}

.library-details {
  padding: $padding-md;
  background-color: $dark-1;
  border: 1px solid $dark-2;
  border-radius: $radius-lg;
  max-width: 400px;

  h3 {
    font-size: $text-xl;
    font-weight: $text-bold;
  }

  .section {
    margin-bottom: $margin-sm;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: $margin-sm;

    li {
      padding: $padding-sm;
      border: 1px solid $dark-2;
      border-radius: $radius-lg;
      margin-bottom: $margin-sm;
    }
  }
}
