@use "@/styles" as *;

.shelf {
  display: flex;
  flex-direction: column;

  .shelf-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .shelf-controls {
      display: flex;
      gap: $margin-sm;

      button {
        padding: $padding-sm;
      }
    }
  }

  .shelf-items {
    display: flex;
    overflow-x: auto;
    gap: $padding-lg;
  }
}
