@use "@/styles" as *;

.credentials-editor {
  position: relative;
  display: flex;
  gap: $margin-sm;
  align-items: stretch;

  input {
    height: 100%;
    width: 250px;
  }

  .edit-button {
    padding: $padding-sm;
    font-size: $text-lg;
  }

  span.error {
    position: absolute;
    bottom: 100%;
    margin-bottom: $margin-xs;

    font-size: $text-xs;
    color: $error;
  }
}
