@use "@/styles" as *;

.profile-picture {
  position: relative;
  border-radius: $radius-round;
  overflow: hidden;

  .image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .select-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba($color: #000000, $alpha: 0.5);
    border-radius: $radius-round;
    opacity: 0;
    transition: 0.2s opacity ease;

    i {
      font-size: 4em;
      font-weight: $text-bold;
    }

    &:hover {
      opacity: 1;
    }
  }

  .change-picture-dialog {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    gap: $margin-md;

    button {
      display: flex;
      flex-direction: column;
      gap: $margin-md;

      min-width: 175px;
      padding: $padding-xl;

      & > div {
        padding: $padding-xl;

        border-radius: $radius-round;
        font-size: 4em;
        background-color: $accent-alt;
      }
    }
  }
}
