@use "@/styles" as *;

.developer-products-page {
  display: grid;
  overflow: hidden;

  h1 {
    margin: $margin-xl;
    font-size: $text-xxl;
    font-weight: $text-bold;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: $margin-md;

    padding: 0 $padding-xl;
    overflow-y: auto;
  }
}
