@use "../default/" as *;

.discover-container {
  padding: $padding-xl;

  overflow-y: auto;
  overflow-x: hidden;

  h2 {
    font-size: $text-xxl;
    font-weight: $text-bold;
    margin: $padding-xl 0;
  }

  .slider-container {
    border-radius: $radius-lg;
    overflow: hidden;
  }

  .top-free {
    display: flex;
    column-gap: $padding-lg;
    overflow-x: auto;
    padding: $padding-xs 0;
  }
}
