@use "../default/" as *;

.discover-container {
  padding: $padding-xl;
  display: flex;
  flex-direction: column;
  row-gap: $padding-xl;
  overflow-y: auto;

  h2 {
    font-size: $text-xxl;
    font-weight: $text-bold;
  }

  .slider-container {
    border-radius: $radius-lg;
    overflow: hidden;
  }

  .top-free {
    display: flex;
    flex-direction: row;
    column-gap: $padding-lg;
  }
}
